.chord {
  border-spacing: 0;
  color: var(--main-color);
  margin-bottom: 20px;
}

caption {
  font-size: 20px;
  font-weight: 700;
  height: 18px;
  margin-bottom: 4px;
}

thead {
  font-size: 16px;
}

tbody {
  font-size: 14px;
}

.chord td, .chord th {
  height: 24px;
  width: 24px;
}

.chord td {
  background-color: var(--bg-notation-color);
  border-left: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color);
}

.chord td:last-child {
  background-color: transparent;
  border-top: none;
}

.chord tbody tr:first-child td:not(:last-child) {
  border-top: 2px solid var(--main-color);
}

.chord tbody tr:last-child td:not(:last-child) {
  border-bottom: 1px solid var(--main-color);
}

.muted {
  margin-left: -23px;
  line-height: 0;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  color: black;
  border-radius: 50%;
  margin-left: -9px;
}

@media (min-width: 720px) {

  caption {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  thead {
    font-size: 20px;
  }
  
  tbody {
    font-size: 18px;
  }

  .chord {
    margin-bottom: 16px;
  }

  .chord td, .chord th {
    height: 40px;
    width: 40px;
  }

  .chord td {
    border-left: 2px solid var(--main-color);
    border-top: 2px solid var(--main-color);
  }

  .chord tbody tr:first-child td:not(:last-child) {
    border-top: 4px solid var(--main-color);
  }

  .muted {
    margin-left: -38px;
  }

  .circle {
    width: 20px;
    height: 20px;
    margin-left: -12px;
  }
}