header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

section {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-title {
  font-size: 18px;
  font-weight: 700;
}

.progression-name {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
  margin-bottom: 20px;
}

.progression-button {
  background-color: var(--main-color);
  border: none;
  border-radius: 30px;
  color: #222;
  font-size: 20px;
  font-weight: 700;
  padding: 12px 20px;
  cursor: pointer;
  transition: all .2s ease;
  margin-top: 8px;
}

/* Desktop Styles */

@media (min-width: 720px) {

  .logo-title {
    font-size: 28px;
  }

  .progression-name {
    font-size: 64px;
    margin-bottom: 20px;
  }

  .container {
    max-width: max-content;
    margin-bottom: 40px;
  }

  .progression-button:hover {
    transform: translateY(-4px);
  }
}